body {
  // &::before {
  //   content: "";
  //   // background-image: url("../../../public/BG.jpg");
  //   background: darkgray;
  //   width: 100%;
  //   height: 100vh;
  //   position: fixed;
  //   left: 0;
  //   top: 0;
  //   z-index: -1;
  //   background-position: 50% 50%;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
}

.rhap_container {
  background-color: transparent;
  box-shadow: 0 0 0;
}

.marquee-container {
  .overlay {
    --gradient-color: transparent, transparent !important;
    --gradient-width: 0px !important;
  }
}

.not-found {
  height: calc(100vh - 192px);
  // height: 100%;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 100% !important;
  }
}

pre[class*="language-"] {
  padding: 1em;
  margin: auto 0 1rem;
  overflow: auto;
}

div > iframe {
  padding-bottom: 1rem !important;
}

table {
  th,
  td {
    border: 1px solid rgb(113 113 122);
    padding: 0.5rem 1rem;
    p {
      margin-bottom: 0 !important;
    }
  }
  thead {
    tr {
      th {
        background: rgb(113 113 122);
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  table {
    th,
    td {
      padding: 0.5rem;
    }
  }
}
